@inject SharedServices.Services.ThemeService ThemeService
@implements IDisposable

<!DOCTYPE html>
<html lang="cs" data-bs-theme="@ThemeService.BsThemeAttr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@ThemeService.CurrentThemeUrl" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="BlazorVO2DataManager.styles.css" />
    <link rel="stylesheet" href="_content/SharedServices/SharedServices.bundle.scp.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="_content/Blazored.Modal/blazored-modal.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="js/theme.js"></script>
    <script src="_content/SharedServices/js/ui-library-loader.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Blazor-ApexCharts/js/blazor-apexcharts.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>
</html>

@code {
    protected override void OnInitialized() => ThemeService.OnChange += StateHasChanged;
    public void Dispose() => ThemeService.OnChange -= StateHasChanged;
}
